
.poppins {
    font-family: 'Poppins';
}
.volkhov {
    font-family: 'Volkhov';
}
.open {
    font-family: 'Open Sans';
}
* {
    padding:0;
    margin:0;
}

button {
    transition: all 0.3s;
}
button:hover {
    cursor: pointer;
    transform: scale(1.07);
    opacity: 0.9;
    cursor: pointer;
    
}
.footerdrum {
    width:48px;
    height:50px;
}
a{
    text-decoration: none ;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.titrelinkfooter {
    font-size: 21px;
    font-family: "Poppins";
    margin-bottom: 15px;
    color:black;
}


/*version tablettes*/
@media screen and  (max-width: 656px){
.menu {
       display:none;
    }
}
/*version ordinateurs*/
@media screen and (min-width: 1024px) {

a:hover {
    text-decoration: underline;   
}
.animationmaki {
    position:relative;
    background-color: white;
    width:200px;
    height:208px;
    border-radius: 5%;
}
.animationmaki:after {
    position:relative;
    display:inline-block;
    right:75px;
    bottom:75px;
    width:150px;
    height:150px;
    content:"";
    background-image: url("../img/decoration_rose.svg");
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 75px 75px;
    z-index:-1;
    transform:rotate(45deg);
    opacity:0;  
    transition: all 0.5s;
}
.animationmaki:hover {
    box-shadow: 0px 4px 32px 5px rgba(0, 0, 0, 0.05);
}
.animationmaki:hover::after {
   
    transform:rotate(0deg);
    opacity:1;   
}
.bienvenue {
    margin-left: 150px;
    font-size: 84px;
    color: #fff;
    font-weight: bold;
    background-image: url("../img/souligne_rose.svg");
    background-repeat: no-repeat;
    background-position-x: 3%;
    background-position-y: 97%;
}
body {
    font-size: 16px;
    overflow-x: hidden;
}

.buttontext {
    display:inline-block;
    position:relative;
    bottom: 4px;
    left:5px;   
}
.buttondiscover {
    background-color: #f1a501;
    padding:15px 20px;
    border: none;
    border-radius: 10px;
    width: 150px;
    color: white;
    font: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    position: relative;
    left: 45%;
}
.buttonintro {
    margin-left: 150px;
    background-color: #f1a501;
    padding:15px 20px;
    border: none;
    border-radius: 10px;
    width: 150px;
    color: white;
    font: Arial, Helvetica, sans-serif;
}

.buttonnews {
    background-color: #f1a501;
    padding:15px 20px;
    border: none;
    border-radius: 10px;
    width: 150px;
    color: white;
    font: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    position: absolute;
    left: 45%;
}

.carrousel{
    display:none;
}
.centertext {
    text-align: center;
    margin-left: 150px;;
}
.commandez {
    color: salmon;
    width: 100%;
    font-size: 20px;
    font: 50px "Volkhov";
}

.contact {
    height:800px;
    width:100%;
    padding-top:100px;
    padding-bottom:100px;
    text-align:center;
}
.contactfooter {
    width:20%;
}
.contactfootertext {
    color: #5e6282;
    margin-top: 15px;
}
.contactfootertitle {
    font-size: 21px;
    font-family: "poppins-bold";
    margin-bottom: 15px;
}
.decoration {
    position: absolute;
    left:1750px;
}
.decorationfilet {
    position:absolute;
    left:1650px;
    z-index: -1;
    top:1000px;  
}
.discover {
    height:869px;  
}
.discovertext {
    position:relative;
    color: #fff;
    z-index: 2; 
    font-family: "Volkhov";
    font-size: 84px;
  } 
.download {
    background-color: black;
    color: white;
    border: none;
    width:132px;
    height:38px;
    border-radius: 15px;
}
.eats {
    color: green;  
}
.fname {
    width:190px;
    text-align: left;
}
.flexform {
    display: inline-flex;
    justify-content: flex-start;;

}

.form{
    margin: auto;
    display:flex;
    justify-content: center;
    box-shadow: 0px 4px 61px 0px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    width: 1020px;
}
.formblock {
    display:block;
    width:75%;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    margin-left: 64px;
}
.formtext {
    color: #8d8d8d;
    text-align: left;
    margin-left: 40px;
    line-height: 20px;
    font-size: 14px; 
}
.formtitle {
    color: #000;
    text-align:left;
    margin-left: 40px;
    font: 18px "Poppins";
    font-weight: 600;
}
input{
    border:none;
    border-bottom: 1px solid #e2e4e5;
}
input:focus,textarea:focus{
    padding-bottom: 5px;
    outline: none;
    border-bottom: 1px solid blue;
}
footer{
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #f3f3f3;
    width:100%;
    height:200px;
    align-items: flex-start;
}
.footerUE {
    width: 20%;
}
.footerlink {
    color: #5e6282;
    display: block;
    margin-bottom: 15px;
}

h1{
    color: #fff;
}
h2{
    font: 50px "Volkhov";
    color: #14183e;
    margin-top: 10px;   
}
h4{
    font: 18px "Poppins";
    font-weight: normal;
    font-weight: 600;
    color: #5e6282;
    margin-bottom: 10px;
}
header{
    height:70px;
    position:sticky;
    background-color: white;
    top:0;
    z-index: 5;
}
.introcontainer {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.introtext{
    color: white;
    text-align: justify;
    max-width: 460px;
    margin-left: 150px;
    font: 500 16px/30px "Poppins";
}
.introduction {
    background-image: url('../img/illustration_principale.jpg');
    background-size:120%;
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}
.jadoologo {
    margin-right: 20px;
}
.jadoologo:hover {
    animation-name: animjadlogo;
    animation-duration: 0.4s;
}
@keyframes animjadlogo {
    0%{transform: rotate(0deg);
    }
    25%{transform:rotate(15deg);}
    50%{transform: rotate(-5deg);}
    100%{transform: rotate(3deg);}
}
.jadoosite{
    font: 50px "Volkhov";
    color: #14183e;
}
li{
    position: relative;
    display: inline-block;
    margin-right: 50px;
    top:30px;
}
.leftform{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    width:510px;
    font-family: "Poppins";
    font-weight: 500;
    font-style: normal; 
    font-size: 16px; 
}
.logofooterimg {
    width:165px;
    height: 50px;
    margin-left: 15px;
}
.footerdrum {
    width:48px;
    height:50px;
}
.footertext {
    font-size: 18px;
    line-height: 147.5%;
    color: #5e6282;
}
.logojadoofooter {
    width:20%;
    display: block;
}
.logogroup {
    position: absolute;
    display: inline-block;
    margin-left: 150px;
    vertical-align: middle;
    top:20px;
}
.makiflex{
    display: flex;
    justify-content: space-evenly;
    margin-left: 150px;
}
.makimage {
    margin:auto;
    display: block;
}
.makitext {
    width: 200px;
    text-align: center;
    font-family: "Open sans"
}
.makitext2 {
    text-align: center;
    font-family: "Poppins";
}
.menu {
    position: absolute;
    width: 50%;
    display: inline-block;
    right: -200px;
    vertical-align:middle;
}
.menuicon{
    display:none;
}

.mobilechef {
    display: none;
}
.news {
    font: 50px "Volkhov";
    color: #14183e;
    margin-top: 10px;
}
.newsflex {
    display: flex;
    justify-content: space-evenly;
    margin-left: 150px;
}
.newsflexelement {
    box-shadow: 0px 4px 32px 5px rgba(0, 0, 0, 0.05);
    border-radius: 5%;
}
.newsimg {
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
.newstext {  
    text-align: center;
    line-height: 28px;
    font-size: 18px;
    padding: 20px;
    font-family: "Poppins";
    font-weight: 500;
    font-style: normal;
    color: #5e6282;
}
.orangeintro {
    color: salmon;
    width: 100%;
    font-size: 20px;
    margin-left: 150px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.p {
    font-family: "poppins-regular";
    font-weight: 500;
    font-style: normal;
    text-align: left;
}

.planrestaurant {
    width: 20%;
    
}
.playbutton {
    position:relative;
    top: 55px;
    left:125px;
    display:inline-block;
    background-color:white;
    border-radius: 50%;
    border: 3px solid white;
}
.playbutton:hover{
    opacity:0.9;
    cursor: pointer;
}
.rightform {
    display:inline-block;
    width:510px;
    height:579px;
    background-image: url(../img/illustration_formulaire.jpg);
    background-size: cover;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.social {
    display:block;
    width:100%;
    height:601px;
    padding-top:426px;
    padding-left: 150px;
    background-image: url(../img/illustration_commander.jpg);
    background-size: cover;
}
.socialflex {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}
.socialimg {
    width:60px;
    height:60px;
    margin-right: 20px;
}
.socialtext {
    font-family: "Poppins";
    color: #22232c;
}
.souligné {
    position:absolute;
    top: 2150px;
    z-index: 1;
}
.submitbutton {
    background-color: #007aff;
    width:139px;
    height:62px;
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 7px;
    margin-top: 30px;
    color: white;
    margin-bottom: 62px;
    font: 18px Arial, Helvetica, sans-serif;
}

.travel {
    width: 200vh;
    height: 1019px;
    background-image: url(../img/illustration_chef.jpg);
    padding: 150px;
    background-size: cover;
    margin:0;
    font-size: 30px "poppins-regular";
    color: #fff;
}
.traveltext {
    color: white;
    text-align: justify;
    max-width: 460px;
    font: 500 16px/30px "Poppins";
}
.ubereatstext {
    font-family: "Poppins";
    font-weight: 500;
    font-style: normal;
    text-align: left;
    color: #3e3f43;
}
.ubereatstitle {
    font-size: 45px;
    font-weight: bold;
}
.video {
    display:block;
    background-image: url(../img/visu_video.jpg);
    width:320px;
    height:180px;
    background-size: cover;
    border-radius: 15px;
}
.wrapperimg1 {
    display: inline-block;
    position:absolute;
    top:2725px;   
}
.wrapperimg2 {
    display: inline-block;
    position:absolute;
    top:2725px;
    left:520px;
}

}

/*version mobile*/
@media screen and (max-width:1024px){
 * {
    padding:0;
    margin:0;
}


button {
    border:none;
 }   

header {
    position:sticky;
    top:0;
    height:7vh;
    background-color: white;
    z-index: 5;
}
h4 {
    font: 18px "Poppins";
    font-weight: normal;
    font-weight: 600;
    color: #5e6282;
    
}

.mlogogroup {
    position:absolute;
    margin:0 30%;
}
.menu {
    display:none;
}

.menuicon {
    width:6vh;
    height:6vh;
}
.orangeintro {
    color: salmon;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.introcontainer {
    background-image: url(../img/illustration_principale.jpg);
    height:70vh;
    background-size: 90%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-position: 50%;
}
.bienvenue {
    font-size: 50px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    background-image: url("../img/souligne_rose.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: 55%;
    background-position-y: 97%;
}
.introtext{
    color: #bfc0cd;
    text-align: center;
    font: 500 16px/30px "Poppins";
    margin: 0 10%;
}
.decoration {
    display:none;
}
.decorationfilet {
    display:none;
}
.buttonintro {
    background-color: #f1a501;
    border: none;
    border-radius: 10px;
    width: 50%;
    color: white;
    font: 18px Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
.centertext {
    text-align:center;
}

.newsflexelement {
    box-shadow: 0px 4px 32px 5px rgba(0, 0, 0, 0.05);
    border-radius: 5%;
    display:inline-block;
}

.newsflex {
    display: block;
    width: 100vw;
    height:50vh;
    position: relative;
    
}

.img1 {
    position: absolute;
    opacity: 0;
    left:10%;
    animation-name:imganim1;
    animation-duration:15s;
    animation-iteration-count: infinite;
    box-shadow: 0px 4px 32px 5px rgba(0, 0, 0, 0.05);
    border-radius: 5%;
}

@keyframes imganim1 {
    0%{opacity:0;

    }

    5%{
        opacity:1;

    }
    15%{
        transform: translate(0);
    }
    25%{transform: translate(0);
        opacity:1;}
    33%{transform: translate(-50vw);
        opacity:0}

}
.img2{
    position:absolute;
    opacity: 0;
    animation-name: imganim2;
    left:10%;
    animation-duration:15s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    box-shadow: 0px 4px 32px 5px rgba(0, 0, 0, 0.05);
    border-radius: 5%;
}

@keyframes imganim2{
    0%{opacity:0;

    }

    5%{
        opacity:1;

    }
    15%{
        transform: translate(0);
    }
    25%{transform: translate(0);
        opacity:1;}
    33%{transform: translate(-50vw);
        opacity:0}

}
.img3{
    position:absolute;
    opacity: 0;
    animation-name:imganim3;
    left:10%;
    animation-duration:15s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    box-shadow: 0px 4px 32px 5px rgba(0, 0, 0, 0.05);
    border-radius: 5%;
}

@keyframes imganim3{
    0%{opacity:0;

    }

    5%{
        opacity:1;

    }
    15%{
        transform: translate(0);
    }
    25%{transform: translate(0);
        opacity:1;}
    33%{transform: translate(-50vw);
        opacity:0}
}

.news {
    font: 50px "Volkhov";
    color: #14183e;
    margin-top: 10px;
}
.newstext {  
    text-align: center;
    line-height: 28px;
    font-size: 18px;
    font-family: "Poppins";
    font-weight: 500;
    font-style: normal;
    color: #5e6282;
}

.animationmaki {
    position:relative;
    background-color: white;
    display:block;
    width:200px;
    height:208px;
    border-radius: 5%;
}
.makimage {
    margin:auto;
    display: inline-block;
}
.makitext {
    width: 200px;
    text-align: left;
    font-family: "Open sans";
    display: inline-block;
    position:absolute;
    
}
.makitext2 {
    width:200px;
    text-align: left;
    font-family: "Poppins";
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 150px;
}
.buttondiscover {
    background-color: #f1a501;
    border: none;
    border-radius: 10px;
    width: 50%;
    color: white;
    font: 18px Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    position:relative;
    bottom:5vh;
    left: 25%;
    
}

.souligné {
    display:none;
}

.discovertext {
    display:none;
}

.traveltext {
    display:none;
}
.video {
    display:block;
    background-image: url(../img/visu_video.jpg);
    width:100%;
    height: 27vh;
    background-size: cover;
}
.playbutton {
    position:relative;
    top: 8.5vh;
    left:42vw;
    display:inline-block;
    background-color:white;
    border-radius: 50%;
    border: 3px solid white;
    
}
.playbutton:hover{
    opacity:0.9;
    cursor: pointer;
}

.mobilechef {
    width:100%;
    height: 32vh;
}

.photochef {
    width:100%;
    height:100%;
}
.mwrapper {
    display:block;
    position:relative;
    bottom: 4px;
    
}
.mcenter {
    text-align: center;
}

.commandez {
    color: salmon;
    width: 100%;
    font-size: 20px;
    font: 40px "Volkhov";
    text-align: center;
}
.jadoosite{
    font: 40px "Volkhov";
    color: #14183e;
    text-align:center;
}
.socialflex {
    display: flex; 
    margin-left:5%;
    margin-right: 5%;
    
    
    
}
.socialimg {
    width:18vw;
    margin-right:3vw;  
}
.ubereatstext {
    font-family: "Poppins";
    font-weight: 500;
    font-style: normal;
    text-align: left;
    color: #3e3f43;
}

.buttonnews {
    background-color: #f1a501;
    padding:15px 20px;
    border: none;
    border-radius: 10px;
    width: 150px;
    color: white;
    font: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    position: relative;
    left: 30%;
}

h2{
    font: 50px "Volkhov";
    color: #14183e;
    margin-top: 10px;  
    text-align: center; 
}
h4 {
    font: 18px "Poppins";
    font-weight: normal;
    font-weight: 600;
    color: #5e6282;
    text-align: center;
    
}
 .formtext {
    color: #8d8d8d;
    text-align: center;
    line-height: 20px;
    font-size: 14px; 
}

label {
    font-family: "Poppins";
    font-weight: 500;
    font-style: normal;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form{
    margin: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}
.formblock {
    display:block;
    width:100%;
    text-align: left;
    font-size: 16px;
    
}
.formtext {
    color: #8d8d8d;
    text-align: center;
    line-height: 20px;
    font-size: 14px; 
}
.formtitle {
    color: #000;
    text-align:center;
    font: 18px "Poppins";
    font-weight: 600;
}
input{
    border:none;
    border-bottom: 1px solid #e2e4e5;
    width: 100%;
}
input:focus,textarea:focus{
    padding-bottom: 5px;
    outline: none;
    border-bottom: 1px solid blue;
}

input:hover {
    transform: scale(1.025);
}
.submitbutton {
    background-color: #007aff;
    width:139px;
    height:62px;
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 7px;
    margin-top: 30px;
    color: white;
    margin-bottom: 62px;
    font: 18px Arial, Helvetica, sans-serif;
    position: relative;
    left:30%;

    
}
.fname {
    width:100%;
    text-align: left;
    display:block;
}
footer{
    position: relative;
    background-color: #f3f3f3;
    width:100%;
    height:75vh;
    align-items: flex-start;
}
.planrestaurant {
    display:inline-block;
    position: relative;
    left:10%;
    bottom: -1.5vh;
}
.contactfooter {
    display: inline-block;
    position: relative;
    bottom:11vh;
    left:25vw;
    
}
.contactfootertext {
    font-family: "Poppins";
    font-weight: 500;
    font-style: normal;
    color: #5e6282;
}

.footerlink {
    display:block;
    margin-bottom:3vh;
    font-family: "Poppins";
    font-weight: 500;
    font-style: normal;
    color: #5e6282;
}
.logojadoofooter {
    text-align: center;
}
p{
    font-family: "Poppins";
    font-weight: 500;
    font-style: normal;
    color: #5e6282;
}
.logofooterimg {
    height: 50px;
    margin-left: 15px;
}

}







